$backgroundOdd: rgba(255, 255, 255, 1);
$backgroundDefault: rgba(230, 255, 250, 1);
$transparent: rgba(0,0,0,0);

.about-sec {

	background: white;
	height: auto;
	width: auto;
	margin-bottom: 0;

	.about-sec-title {
		text-align: center;
		padding: 2%;
		font-size: 72px;
		font-weight: bold;

		.title-head {
			color: #777;
			font-weight: bold;
		}

		.title-subHead {
			font-weight: bold;
		}
	}

	.intro-sec {
		background-color: $backgroundOdd;
		padding: 2%;
		
		.intro-sec-content {

			.profile-pic {
				padding: 0;

				img {
					width: 200px;
					height: 200px;
					border-radius: 130px;
				}
			}

			#intro-title, #skill-title, #achivement-title {
				color: darkred;
				font-weight: bold;
			}

			.intro-summary {
				font-size: 16px;
			}

			pre {
				background: $transparent;
				border: none;
				white-space: pre-wrap;
				word-wrap: break-word;
			}
		}

		.skill-item {
			margin-bottom: 2%;

			.skill-title {
				font-weight: bold;
				font-size: 18px;
				color: #000;
			}

			.skill-proficiency {
				color: #777;
				font-weight: bold;
				font-size: 12px;
			}

			input {
				width: auto;
			}
		}

		.award-item {
			@extend .skill-item;

			.award-title {
				font-weight: bold;
				font-size: 18px;
				color: #000;
			}

			.award-time {
				font-weight: bold;
				font-size: 14px;
				color: #777;
			}
		}

	}

	.experience-sec {
		background-color: $backgroundDefault;
		padding: 2%;

		.experience-sec-content {

			.experience-title {
				color: darkred;
				font-weight: bold;
				font-size: 28px;
			}

			.experience-date {
				color: #000;
				font-weight: bold;
				font-style: italic;
			}

			.project-description {
				font-weight: bold;
				color: #777;
				font-family: 'Consolas', monospace;
			}

		}
	}

	.education-sec {
		background-color: $backgroundOdd;
		padding: 2%;
		margin-bottom: 3%;
		
		.education-sec-content {
			
			#edu-year {
				color: #000;
				font-size: 18px;
				font-weight: bold;
				font-style: italic;
			}

			#edu-school {
				color: darkred;
				font-weight: bold;
			}

			#edu-degree {
				font-style: italic;
				font-size: 20px;
				color: #777;
			}

			#achivement-title {
				color: darkorange;
				font-weight: bold;
			}

			.award-item {
				@extend .skill-item;

				.award-title {
					font-weight: bold;
					font-size: 16px;
				}

				.award-time {
					font-weight: bold;
					font-size: 14px;
					color: #777;
				}
			}
		}
	}

}