$transparent: rgba(0,0,0,0);

.contact-sec {

	margin: 5%;
	padding: 2%;
	background: white;
	border: 1px black solid;
	text-align: center;
	color: black;
	font-weight: bold;

	a {
		color: $linkColor;
	}

	a:hover {
		text-decoration: none;
	}
}