$transparent: rgba(0,0,0,0);

.contact-sec {

	margin: 5%;
	padding: 2%;
	background: white;
	border: 1px black solid;
	text-align: center;
	color: black;
	font-weight: bold;

	.message-area {

		text-align: left;

		.message-area-title {
			text-align: center;
		}

		.message-lists {

			li {
				list-style: none;
				.message-post {
					padding: 1%;
				}
				.message-response {
					margin-top: 1%;
					padding: 1%;  
					border-top: 1px solid #999;
				}

				.message-text {
					color: #888;
				}
			}

		}

	}

}