.project-sec {
	
	background: white;
	padding: 2%;

	#project-heading {
		font-weight: bold;
		font-style: italic;
	}

	.project-btn {
		background: darkred;
		color: white;
	}

	.default-button:hover {
			color: white;
			background: darkred;
			transition: background 1s, color 1s ease-out;
	}

	.links {
		color: $linkColor;
		
		a:hover {
			text-decoration: none;
		}

	}

	.form-control {
		margin-top: 1%;
	}

	.project-frame {
		.project-description {
			color: #444;
			font-family: 'Consolas', monospace;
		}
		.project-title {
			color: darkred;
			font-weight: bold;

		}
		.project-date {
			font-style: italic;
			font-weight: bold;
			color: #777;
		}
		.project-link {
			text-decoration: underline;
			font-style: italic;
		}
	}
}