.project-sec {
	
	background: white;
	padding: 2%;

	.project-btn {
		background: darkred;
		color: white;
	}

	.links {
		color: $linkColor;
		
		a:hover {
			text-decoration: none;
		}

	}

	.jumbotron {
		background: white;
		border: 1px solid black;
	}

	.form-control {
		margin-top: 1%;
	}

	.project-frame {
		.project-description {
			color: #888;
		}
		.project-title {
			color: darkred;
			font-weight: bold;

		}
		.project-date {
			font-style: italic;
		}
		.project-link {
			text-decoration: underline;
		}
	}
}